<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <form action="/core/v1/creative/post" method="post" enctype="multipart/form-data">
      <div><label>제목:</label> <input type="text" name="title"/></div>
      <div><label>낙찰가:</label> <input type="text" name="winningBid"/></div>
      <div><label>노출일자:</label> <input type="text" name="exposureDate" placeholder="yyyy-MM-ddTHH:mm:ss"/></div>
      <div><label>만료일자:</label> <input type="text" name="expiryDate" placeholder="yyyy-MM-ddTHH:mm:ss"/></div>
      <div><label>파일:</label> <input type="file" name="image"></div>
      <div><button type="button">생성</button></div>
  </form>
</body>

<script type="text/javascript">
    $('button').click(() => {
        let title = $('[name="title"]').val();
        let winningBid = $('[name="winningBid"]').val();
        let exposureDate = $('[name="exposureDate"]').val();
        let expiryDate = $('[name="expiryDate"]').val();
        let file = $('[name="image"]').val();

        $.post("/core/v1/creative/post", {
            title: title,
            winningBid: winningBid,
            exposureDate: exposureDate,
            expiryDate: expiryDate,
            file: file
        })
        .done(()=>{
            alert("성공!");
        })
        .fail((response)=>{
            console.log(response.responseJSON);
        });
    });
</script>
</html>