<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <form action="/core/v1/creative/post" method="post" enctype="multipart/form-data">
      <div><label>제목:</label> <input type="text" name="title"/></div>
      <div><label>낙찰가:</label> <input type="text" name="winningBid"/></div>
      <div><label>노출일자:</label> <input type="text" name="exposureDate" placeholder="yyyy-MM-ddTHH:mm:ss"/></div>
      <div><label>만료일자:</label> <input type="text" name="expiryDate" placeholder="yyyy-MM-ddTHH:mm:ss"/></div>
      <div><label>파일:</label> <input type="file" name="image"></div>
  </form>
  <div><button type="button">생성</button></div>
</body>

<script type="text/javascript">
    $('button').click(() => {
        let formData = new FormData($('form')[0]);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: 'http://localhost:8000/core/v1/creative',
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            success: () => {
                alert('광고를 생성했습니다!');
            },
            error: (response) => {
                const errorResponse = response.responseJSON;
                alert(errorResponse.message);
            }
        });
    });
</script>
</html>