<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:align="left">
  <ul>
    <li th:text="'테이블 아이디: ' + ${creative.id}"></li>
    <li th:text="'제목: ' + ${creative.title}"></li>
    <li th:text="'낙찰가: ' + ${creative.winningBid}"></li>
    <li th:text="'생성일: ' + ${creative.createdAt}"></li>
    <li th:text="'수정일: ' + ${creative.modifiedAt}"></li>
    <li th:text="'광고 시작일: ' + ${creative.exposureDate}"></li>
    <li th:text="'광고 만료일: ' + ${creative.expiryDate}"></li>
    <li th:text="'광고 상태: ' + ${creative.status}"></li>
    <li th:text="'노출 횟수: ' + ${creative.exposeCount}"></li>
    <li th:each=" image : ${creative.images}"><img th:src="'/'+${image}"></li>
  </ul>

  <form th:action="'/core/v1/creative/update/' + ${creative.id}" th:method="post" enctype="multipart/form-data">
    <div>수정할 제목: <input type='text' name='title'/></div>
    <div>수정할 낙찰가: <input type='text' name='winningBid'/></div>
    <div>변경할 이미지: <input type='file' name='newImage'/></div>
    <div><button type="submit">수정하기</button></div>
  </form>

  <form th:action="'/core/v1/creative/'+ ${creative.id} +'/delete'" th:method="post">
    <div><button type="submit">삭제하기</button></div>
  </form>
</body>
</html>